x-app: &app
  build:
    context: .
    args:
      RUBY_VERSION: '<%= ruby_version %>'
<% if postgres_version %>
      PG_MAJOR: '<%= postgres_version.split('.', 2).first %>'
<% end %>
<% if node_version %>
      NODE_MAJOR: '<%= node_version.split('.', 2).first %>'
<% end %>
<% if yarn_version && yarn_version != 'latest' %>
      YARN_VERSION: '<%= yarn_version %>'
<% end %>
  image: <%= app_name %>-dev:1.0.0
  working_dir: ${PWD}
  environment: &env
<% if node_version %>
    NODE_ENV: ${NODE_ENV:-development}
<% end %>
    RAILS_ENV: ${RAILS_ENV:-development}
  tmpfs:
    - /tmp
    - ${PWD}/tmp/pids

x-backend: &backend
  <<: *app
  stdin_open: true
  tty: true
  volumes:
    - ${PWD}:/${PWD}:cached
    - bundle:/usr/local/bundle
    - rails_cache:/${PWD}/tmp/cache
<% if File.directory?("app/assets") %>
    - assets:/${PWD}/public/assets
<% end %>
<% if node_version %>
    - node_modules:/${PWD}/node_modules
<% end %>
<% if gemspecs.key?("webpacker") %>
    - packs:/${PWD}/public/packs
    - packs-test:/${PWD}/public/packs-test
<% end %>
<% if gemspecs.key?("vite_ruby") %>
    - vite_dev:/${PWD}/public/vite-dev
    - vite_test:/${PWD}/public/vite-test
<% end %>
    - history:/usr/local/hist
<% if claude %>
    - claude:/root/.claude
    - ./.claude.json:/root/.claude.json
<% end %>
<% if postgres_version %>
    - ./.psqlrc:/root/.psqlrc:ro
<% end %>
    - ./.bashrc:/root/.bashrc:ro
  environment: &backend_environment
    <<: *env
<% if redis_version %>
    REDIS_URL: redis://redis:6379/
<% end %>
<% if database_url %>
    DATABASE_URL: <%= database_url %>
<% end %>
<% if gemspecs.key?("webpacker") %>
    WEBPACKER_DEV_SERVER_HOST: webpacker
<% end %>
    MALLOC_ARENA_MAX: 2
    WEB_CONCURRENCY: ${WEB_CONCURRENCY:-1}
    BOOTSNAP_CACHE_DIR: /usr/local/bundle/_bootsnap
    XDG_DATA_HOME: /${PWD}/tmp/cache
<% if yarn_version %>
    YARN_CACHE_FOLDER: /${PWD}/node_modules/.yarn-cache
<% end %>
    HISTFILE: /usr/local/hist/.bash_history
<% if postgres_version %>
    PSQL_HISTFILE: /usr/local/hist/.psql_history
<% end %>
    IRB_HISTFILE: /usr/local/hist/.irb_history
    EDITOR: vi
<% if claude %>
    CLAUDE_CODE_TMPDIR: /root/.claude/__tmp__
<% end %>
<% if postgres_version || redis_version %>
  depends_on:
<% if postgres_version %>
    postgres:
      condition: service_healthy
<% end %>
<% if mysql_version %>
    mysql:
      condition: service_healthy
<% end %>
<% if redis_version %>
    redis:
      condition: service_healthy
<% end %>
<% end %>

services:
  rails:
    <<: *backend
    command: bundle exec rails

  web:
    <<: *backend
    command: bundle exec rails server -b 0.0.0.0
    ports:
      - '3000:3000'
<% if gemspecs.key?("webpacker") || gemspecs.key?("sidekiq") %>
    depends_on:
<% if gemspecs.key?("webpacker") %>
      webpacker:
        condition: service_started
<% end %>
<% if gemspecs.key?("sidekiq") %>
      sidekiq:
        condition: service_started
<% end %>
<% if gemspecs.key?("vite_ruby") %>
# Uncomment these lines to always run Vite dev server
#      vite:
#        condition: service_started
<% end %>
<% end %>
<% if gemspecs.key?("sidekiq") %>

  sidekiq:
    <<: *backend
    command: bundle exec sidekiq
<% end %>
<% if postgres_version %>

  postgres:
    image: postgres:<%= postgres_version %>
    volumes:
      - .psqlrc:/root/.psqlrc:ro
      - postgres:/var/lib/postgresql/data
      - history:/usr/local/hist
    environment:
      PSQL_HISTFILE: /usr/local/hist/.psql_history
      POSTGRES_PASSWORD: postgres
    ports:
      - 5432
    healthcheck:
      test: pg_isready -U postgres -h 127.0.0.1
      interval: 5s
<% end %>
<% if mysql_version %>
  mysql:
    image: mysql:<%= mysql_version %>
    volumes:
      - mysql_data:/var/lib/mysql
      - history:/usr/local/hist
    command: --default-authentication-plugin=mysql_native_password
    ports:
      - 3306
    environment:
      MYSQL_ALLOW_EMPTY_PASSWORD: 1
    healthcheck:
      test: mysqladmin ping -h 127.0.0.1 -u root
      interval: 5s
<% end %>
<% if redis_version %>

  redis:
    image: redis:<%= redis_version %>-alpine
    volumes:
      - redis:/data
    ports:
      - 6379
    healthcheck:
      test: redis-cli ping
      interval: 1s
      timeout: 3s
      retries: 30
<% end %>
<% if gemspecs.key?("webpacker") %>

  webpacker:
    <<: *app
    command: bundle exec ./bin/webpack-dev-server
    ports:
      - '3035:3035'
    volumes:
      - ${PWD}:/${PWD}:cached
      - bundle:/usr/local/bundle
      - node_modules:/${PWD}/node_modules
      - packs:/${PWD}/public/packs
      - packs-test:/${PWD}/public/packs-test
    environment:
      <<: *env
      WEBPACKER_DEV_SERVER_HOST: 0.0.0.0
      YARN_CACHE_FOLDER: /app/node_modules/.yarn-cache
<% end %>
<% if gemspecs.key?("vite_ruby") %>

  vite:
    <<: *backend
    command: ./bin/vite dev
    volumes:
      - ${PWD}:/${PWD}:cached
      - bundle:/usr/local/bundle
      - node_modules:/${PWD}/node_modules
      - vite_dev:/${PWD}/public/vite-dev
      - vite_test:/${PWD}/public/vite-test
    environment:
      <<: *backend_environment
      VITE_RUBY_HOST: 0.0.0.0 # bind to container
    ports:
      - "3036:3036"
<% end %>

volumes:
  bundle:
<% if node_version %>
  node_modules:
<% end %>
  history:
  rails_cache:
<% if postgres_version %>
  postgres:
<% end %>
<% if mysql_version %>
  mysql_data:
<% end %>
<% if redis_version %>
  redis:
<% end %>
<% if File.directory?("app/assets") %>
  assets:
<% end %>
<% if gemspecs.key?("webpacker") %>
  packs:
  packs-test:
<% end %>
<% if gemspecs.key?("vite_ruby") %>
  vite_dev:
  vite_test:
<% end %>
<% if claude %>
  claude:
<% end %>
